{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen", "layer"]
      }
    ],
    "block-no-empty": null,
    "value-keyword-case": null,
    "declaration-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "declaration-block-trailing-semicolon": null,
    "value-list-comma-newline-after": null
  }
}
