@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: theme('spacing[2]');
  }

  ::-webkit-scrollbar-thumb {
    border-radius: theme('spacing[1]');
    background: theme('colors.gray.500');
    min-height: theme('spacing.10');
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.400');
  }
}

@layer utilities {
  .direction-reverse {
    direction: rtl;
  }

  .direction-normal {
    direction: ltr;
  }
}
